extends layout

block content
    h2 #{title}
    hr
    form(method="POST", action="/articles/add")
      div.form-group
        label(for="title") Title:
        input.form-control(name="title", type="text")
      div.form-group
        label(for="body") Body:
        textarea.form-control(name="body") 
      input.btn.btn-primary(type="submit", value="Submit")
