extends layout

block content
    h2 Login
    hr
    form(method="POST", action="/users/login")
      div.form-group
        label(for="username") Username:
        input.form-control(name="username", type="text")
      div.form-group
        label(for="password") Password:
        input.form-control(name="password", type="password")
      input.btn.btn-primary(type="submit", value="Submit")
